$sm-cols: (-44px, -173px, -301px, -430px, -558px, -686px, -815px, -943px, -1072px, -1200px);
$sm-rows: (-79px, -207px, -336px, -464px, -876px, -1005px, -1133px);
$sm-tokens: (
    1: ('port-engram', '', 'shield-engram', '', 'phase-engram', 'liege-shard-6', 'liege-shard-4', 'dyson-spike', 'dyson-draw-5', 'dyson-draw-3'),
    2: ('dyson-vent-5', 'dyson-vent-3', 'phase-loop-4', 'phase-loop-3', 'larva', '', 'fibril', '', '', 'necro-flask'),
    3: ('sypher-orb', 'ecco-orb', 'photon-shifter', 'matter-shifter-4', 'matter-shifter-5', 'liege-ring-6', 'liege-ring-4', 'artifact', '', 'quantum-lens'),
    4: ('artifact-4', '', '', '', 'bracer', 'shard-fin-8', 'shard-fin-4', 'raw-minerals', '', 'liege-shard-5'),
    5: ('mining-drubber', 'combat-vest', 'combat-vest-shiny', 'shield-belt', 'shield-belt-custom', 'neoflex-plate', 'common-pistol', 'military-pistol', '', 'energy-pistol'),
    6: ('machine-pistol', 'officer-pistol', 'burst-vest', 'utility-knife', 'energy-combat-knife', 'short-sword-crafted', '', 'hunter-trophy', '', 'magnum-custom'),
    7: ('', '', '', '', '', '', '', 'military-twin', 'quell-riposte', 'havoc-custom'),
);

$lg-row: -1133px;
$lg-cols: (-44px, -269px, -494px, -719px);
$lg-tokens: ('combat-sword', 'combat-rifle-custom', 'shock-rifle', 'breach-rifle');

$md-row: -1261px;
$md-cols: (-44px, -220px, -396px);
$md-tokens: ('tactical-rifle', 'outland-gun', 'kalamite-fist');

$sm1-row: -1261px;
$sm1-cols: (-572px, -701px, -830px, -958px, -1086px);
$sm1-tokens: ('outland-pistol', 'jump-pack', 'sensor-goggles', 'medi-pack', 'medi-stim');

$nano-cols: (-81px, -162px, -243px, -323px, -404px, -485px, -566px, -646px, -726px, -808px, -889px, -969px, -1050px, -1131px, -1215px);
$nano-rows: (-604px, -733px, -1261px, -1402px, -1531px);
$nano-tokens: (
    1: ('n-shard', '', 'dyson-rod', '', '', '', '', 'n-engram', '', 'n-orb-5', 'n-orb-4', '', 'n-super-heal', '', ''),
    2: ('n-super-skill-2', 'n-super-skill-3', 'n-action-2', '', 'n-action-3', 'n-raw-green', 'n-raw-orange', '', 'n-raw-purple', 'n-event', 'n-key', '', 'n-freeze', '', ''),
    3: ('', '', '', '', '', '', '', '', '', '', '', '', '', '', 'detonator-l'),
    4: ('n-walkie', '', 'n-ammo', '', '', '', 'n-heal', '', '', 'n-action', '', 'n-skill', '', 'n-nade', ''),
    5: ('n-reroll', 'n-target', 'n-shield', 'n-mine', '', '', 'detonator-m', 'n-throw', '', '', 'n-acc-ammo', '', 'n-ammo', '', 'n-obj')
);


.token.first-born {
    background-image: var(--first-born-tokens);
    background-size: 1363px 1661px;

    @each $row, $columns in $sm-tokens {
        @each $col in $columns {
            @if $col != '' {
                &.#{$col} {
                    background-position-x: nth($sm-cols, index($columns, $col));
                    background-position-y: nth($sm-rows, $row);
                }
            }
        }
    }

    @each $row, $columns in $nano-tokens {
        @each $col in $columns {
            @if $col != '' {
                &.#{$col} {
                    background-position-x: nth($nano-cols, index($columns, $col));
                    background-position-y: nth($nano-rows, $row);
                }
            }
        }
    }

    @each $token in $lg-tokens {
        &.#{$token} {
            background-position-x: nth($lg-cols, index($lg-tokens, $token));
            background-position-y: $lg-row;
        }
    }

    @each $token in $md-tokens {
        &.#{$token} {
            background-position-x: nth($md-cols, index($md-tokens, $token));
            background-position-y: $md-row;
        }
    }

    @each $token in $sm1-tokens {
        &.#{$token} {
            background-position-x: nth($sm1-cols, index($sm1-tokens, $token));
            background-position-y: $sm1-row;
        }
    }
}
