/*** fade ***/
.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.2s ease-in;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

/*** slide-fade ***/
.slide-fade-enter-from {
    transform: translateX(1rem);
    opacity: 0;
}

.slide-fade-enter-active,
.slide-fade-leave-active {
    transition: all 0.2s ease;
}

.slide-fade-leave-to {
    transform: translateX(-1rem);
    opacity: 0;
}

/*** slide ***/
.slide-enter-from {
    transform: translateX(-1rem);
    opacity: 0;
}

.slide-enter-active,
.slide-leave-active {
    transition: all 0.2s ease;
}

.slide-leave-to {
    transform: translateX(1rem);
    opacity: 0;
}

/*** shake ***/
@keyframes shake {
    0% {
        transform: translateX(0)
    }
    75% {
        transform: translateY(-2px)
    }
    80% {
        transform: translateY(-2px) rotate(17deg)
    }
    85% {
        transform: translateY(-2px) rotate(-17deg)
    }
    90% {
        transform: translateY(-2px) rotate(17deg)
    }
    95% {
        transform: translateY(-2px) rotate(-17deg)
    }
    100% {
        transform: translateY(0) rotate(0)
    }
}