#app {
    position: relative;
    display: block;
    overflow: auto;
    min-width: 100%;
    height: 100vh;


    > header.menu {
        position: sticky;
        z-index: 100;
        top: 0;
        right: 0;
        left: 0;
        background-color: var(--header-bg);
        box-shadow: var(--shadow-md);

        .container {
            display: grid;
            align-items: center;
            min-height: 5rem;
            margin: 0;
            padding: 0 1em;
            grid-template-columns: auto 1fr auto;
        }


        .logo {
            font-family: var(--font-title);
            font-size: 150%;
            font-weight: bold;
            display: grid;
            margin-right: 1.5em;
            padding: 0 .5em;
            transition: all .3s ease-out;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
            opacity: .75;
            color: var(--body-color);

            span:first-child {
                font-size: 125%;
            }

            &:active, &:hover {
                transform: scale(1.15);
                opacity: 1;
            }
        }

        .actions {
            display: flex;
            align-items: center;
            padding-left: 1em;
        }
    }

    > .content {
        padding: 1rem;
    }
}

@media (max-width: 450px) {
    #app {
        > header.menu {
            position: relative;
            height: auto;
            padding-bottom: 1em;

            .container {
                grid-template-columns: auto 1fr;
                grid-template-areas:
            'logo actions'
            'form form';
                grid-gap: 1em 0.75em;
            }


            .logo {
                margin: 0.25em 0.5em;
                grid-area: logo;
            }

            .actions {
                justify-content: flex-end;
                grid-area: actions;
            }

            form {
                grid-area: form;
            }
        }

        > .content {
            padding: 1em 0.25em;
        }

    }
}