#app {
    position: relative;
    display: block;
    overflow: auto;
    min-width: 100%;
    height: 100vh;

    > .content {
        padding: 1rem;
    }
}

@media (max-width: 450px) {
    #app {
        > .content {
            padding: 1em 0.25em;
        }
    }
}