#app {
    position: relative;
    display: block;
    min-width: 100%;

    > .content {
        padding: 1rem;
    }
}

.popup-open {
    overflow: hidden;
}

@media (max-width: 450px) {
    #app {
        > .content {
            padding: 1em 0.25em;
        }
    }
}