.btn-link {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    padding: 0 .5em;
    cursor: pointer;
    text-decoration: underline;
    text-transform: none;
    color: inherit;
    border: none;
    outline: none;
    background: inherit;
    -webkit-appearance: button;
}

.btn {
    font-family: inherit;
    font-size: 125%;
    font-weight: bold;
    display: inline-flex;
    align-content: center;
    margin: 0;
    cursor: pointer;
    transition: transform .2s ease-in;
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
    border: none;
    outline: none;
    background: inherit;
    -webkit-appearance: button;

    .icon {
        transition: transform .2s ease-out;
    }

    .icon + span {
        margin-left: .5em;
    }

    &:active,
    &:hover {
        transform: scale(1.1);

        .icon {
            transform: translateX(-.125em);
        }
    }
}