.form-field {
    margin: 1.5em 1em;

    .form-label {
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 0.5em;
        text-transform: uppercase;
    }
}

.checkbox + .checkbox {
    margin-top: 1em;
}

.form-stacked .form-field {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr;
}

@media (min-width: 1000px) {

    .form-field {
        display: grid;
        grid-gap: 1em 1em;
        grid-template-columns: 1fr 5fr;

        .form-label {
            display: block;
        }
    }
}


.form-field + .form-field {
    margin-top: 2.5em;
}

.form-dotted {
    .form-field + .form-field {
        padding-top: 2.5em;
        border-top: dotted 5px var(--primary-transparent);
    }
}

.theme-option + .theme-option {
    margin-top: 1em;

}