.token {
    width: 131px;
    height: 131px;
    border-radius: 15px;
    background-repeat: no-repeat;

    &.nano {
        width: 72px;
        height: 131px;
    }

    &.sm {
        width: 131px;
        height: 131px;
    }

    &.md {
        width: 188px;
        height: 131px;
    }

    &.lg {
        width: 248px;
        height: 131px;
    }

    &.xl {
        width: 364px;
        height: 131px;
    }

    &.umd {
        width: 131px;
        height: 188px;
    }

    &.ulg {
        width: 264px;
        height: 188px;
    }
}

@import "@/assets/generated/first-born.css";
@import "@/assets/generated/fury.css";
@import "@/assets/generated/line-of-fire.css";
@import "@/assets/generated/rysa.css";
@import "@/assets/generated/trading-post-5.css";
@import "@/assets/generated/utility.css";