:root {
    --font-title: 'Saira Condensed', sans-serif;
    --font-main: 'Space Grotesk', sans-serif;

    --cassie: url('../images/cassie.png');
    --balcor: url('../images/balcor.png');

    --first-born: url('../images/box-fb.png');
    --fury: url('../images/box-fury.png');
    --line-of-fire: url('../images/box-lof.png');
    --rysa: url('../images/box-rysa.png');
    --trading-post-5: url('../images/box-tp5.png');
    --utility: url('../images/box-util.png');

    --shadow-sm: 3px 3px 6px 0 rgb(0 0 0 / 10%), -3px -3px 6px 0 rgb(212 210 210 / 10%);
    --shadow-md: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 2px 4px 0 rgb(0 0 0 / 8%);
    --shadow-lg: 0 15px 30px 0 rgb(0 0 0 / 11%), 0 5px 15px 0 rgb(0 0 0 / 8%);
    --glow: rgb(131, 183, 187, .3) 0px 0px 0px 3px;
    --radiant: 0 0 3px 1px #ffffff, /* inner white */
    0 0 5px 3px #ff00ff, /* middle magenta */
    0 0 7px 4px #00ffff; /* outer cyan */

    --magenta: #ff00ff;

    --input-radius: .5rem;
    --search-height: 44px;
    --icon-button-width: 48px;

    --dark-bg: linear-gradient(45deg, #293c33, #4c605f, #293332);
    --dark-color: #ffffff;
    --light-bg: linear-gradient(45deg, #b5dde5, #d7f6fa, #80b4b4);
    --light-color: #000000;

    /* THEME COLORS */
    --body-bg: linear-gradient(45deg, #293c33, #151310, #4c605f, #293332);
    --body-color: #ffffff;

    --header-bg: rgba(0, 0, 0, .75);
    --transparent-bg: rgba(0, 0, 0, 0.5);

    --primary: #83b7bb;
    --primary-transparent: rgba(131, 183, 187, .6);
    --primary-contrast: #ffffff;

    --primary-1: #709aa0;
    --primary-2: #899390;
    --primary-3: #9abbc0;
    --primary-4: #81b8bb;

    --secondary-1: #9a363f;
    --secondary-2: #e85049;
    --secondary-3: #a8423b;
    --secondary-4: #712619;

    --secondary-a1: rgba(154, 54, 63, .75);
    --secondary-a2: rgba(232, 80, 73, .75);
    --secondary-a3: rgba(168, 66, 59, .75);
    --secondary-a4: rgba(113, 38, 25, .75);

    --input-bg: #151310;
    --input-color: #ffffff;
    --input-border: rgba(0, 0, 0, 0.15);
}

html[data-theme='light'] {
    --body-bg: linear-gradient(45deg, #b5dde5, #8ed0cd, #d7f6fa, #80b4b4);
    --body-color: black;
    --primary-contrast: black;

    --input-bg: #ffffff;
    --input-color: #151310;
    --input-border: rgba(255, 255, 255, 0.15);

    --header-bg: rgba(255, 255, 255, .75);
    --transparent-bg: rgba(239, 232, 232, 0.5);
}

@media (max-width: 450px) {
    :root {
        --icon-button-width: 32px;
    }
}

