:root {
    --font-title: 'Saira Condensed', sans-serif;
    --font-main: 'Space Grotesk', sans-serif;

    --cassie: url('../images/cassie.png');
    --balcor: url('../images/balcor.png');
    --core-space: url('../images/box-cs.png');
    --black-star: url('../images/box-bsr.png');
    --dead-or-alive: url('../images/box-dol.png');
    --galactic-corps: url('../images/box-gc.png');
    --purge-outbreak: url('../images/box-po.png');
    --zed: url('../images/box-zed.png');
    --cygnus: url('../images/box-cygnus.png');
    --poseidon: url('../images/box-poseidon.png');
    --skylark: url('../images/box-skylark.png');
    --yamato: url('../images/box-yamato.png');
    --rogue: url('../images/box-rp.png');
    --shift-change: url('../images/box-sc.png');
    --first-born: url('../images/box-fb.png');
    --fury: url('../images/box-fury.png');
    --line-of-fire: url('../images/box-lof.png');
    --rysa: url('../images/box-rysa.png');
    --trading-post-5: url('../images/box-tp5.png');
    --utility: url('../images/box-util.png');

    --shadow-sm: 3px 3px 6px 0 rgb(0 0 0 / 10%), -3px -3px 6px 0 rgb(212 210 210 / 10%);
    --shadow-md: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 2px 4px 0 rgb(0 0 0 / 8%);
    --shadow-lg: 0 15px 30px 0 rgb(0 0 0 / 11%), 0 5px 15px 0 rgb(0 0 0 / 8%);
    --glow: rgb(131, 183, 187, .3) 0px 0px 0px 3px;

    --glow-blue: 0px 0px 8px 2px #1e7bb8, 0px 0px 10px 8px #a5e1e1;
    --glow-orange: 0px 0px 8px 2px #c0210c, 0px 0px 10px 8px #e4844b;
    --glow-yellow: 0px 0px 8px 2px #e2b84d, 0px 0px 10px 8px #ebdcad;
    --glow-purple: 0px 0px 8px 2px #7d1e5e, 0px 0px 10px 8px #d3a59f;
    --glow-green: 0px 0px 8px 2px #529c42, 0px 0px 10px 8px #97c48a;
    --glow-white: 0px 0px 8px 2px #aeaeae, 0px 0px 10px 8px #e5e5e5;
    --glow-lime: 0px 0px 8px 2px #9a9a36, 0px 0px 10px 8px #e3e2bd;
    --glow-violet: 0px 0px 8px 2px #3d509f, 0px 0px 10px 8px #a0aed7;
    --glow-teal: 0px 0px 8px 2px #038686, 0px 0px 10px 8px #3fefef;

    --radiant: 0 0 16px 10px #ffffff, 0 0 24px 24px #ff00ff, 0 0 30px 28px #00ffff;

    --magenta: #ff00ff;

    --input-radius: .5rem;
    --search-height: 44px;
    --icon-button-width: 48px;

    --dark-bg: linear-gradient(45deg, #293c33, #4c605f, #293332);
    --dark-color: #ffffff;
    --light-bg: linear-gradient(45deg, #b5dde5, #d7f6fa, #80b4b4);
    --light-color: #000000;

    /* THEME COLORS */
    --body-bg: linear-gradient(45deg, #293c33, #151310, #4c605f, #293332);
    --text-gradient: linear-gradient(135deg, #6b5e8d 45%, #aadabd);

    --body-color: #ffffff;

    --header-bg: rgba(0, 0, 0, .75);
    --transparent-bg: rgba(0, 0, 0, 0.5);

    --primary: #83b7bb;
    --primary-transparent: rgba(131, 183, 187, .6);
    --primary-contrast: #ffffff;

    --primary-1: #709aa0;
    --primary-2: #899390;
    --primary-3: #9abbc0;
    --primary-4: #81b8bb;

    --secondary-1: #9a363f;
    --secondary-2: #e85049;
    --secondary-3: #a8423b;
    --secondary-4: #712619;

    --secondary-a1: rgba(154, 54, 63, .75);
    --secondary-a2: rgba(232, 80, 73, .75);
    --secondary-a3: rgba(168, 66, 59, .75);
    --secondary-a4: rgba(113, 38, 25, .75);

    --link-color: #7ce8e8;
    --link-contrast: #151130;

    --input-bg: #151310;
    --input-color: #ffffff;
    --input-border: rgba(0, 0, 0, 0.15);
}

html[data-theme='light'] {
    --body-bg: linear-gradient(45deg, #b5dde5, #8ed0cd, #d7f6fa, #80b4b4);
    --body-color: black;
    --primary-contrast: black;

    --link-color: #be20de;
    --link-contrast: #ffffff;

    --input-bg: #ffffff;
    --input-color: #151310;
    --input-border: rgba(255, 255, 255, 0.15);

    --header-bg: rgba(255, 255, 255, .75);
    --transparent-bg: rgba(239, 232, 232, 0.5);
}

@media (max-width: 450px) {
    :root {
        --icon-button-width: 32px;
    }
}

