:root {
    --font-title: 'Saira Condensed', sans-serif;
    --font-main: 'Space Grotesk', sans-serif;

    --shadow-sm: 3px 3px 6px 0 rgb(0 0 0 / 10%), -3px -3px 6px 0 rgb(212 210 210 / 10%);
    --shadow-md: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 2px 4px 0 rgb(0 0 0 / 8%);
    --shadow-lg: 0 15px 30px 0 rgb(0 0 0 / 11%), 0 5px 15px 0 rgb(0 0 0 / 8%);

    --input-radius: .5rem;
    --search-height: 44px;
    --icon-button-width: 48px;

    --first-born-tokens: url('../images/first_born_equipment.jpg');

    /* THEME COLORS */
    --body-bg: linear-gradient(45deg, #293c33, #151310, #4c605f, #293332);
    --body-color: #ffffff;

    --header-bg: rgba(0, 0, 0, .5);
    --transparent-bg: rgba(0, 0, 0, 0.5);

    --primary: #83b7bb;
    --primary-transparent: rgba(131, 183, 187, .6);
    --primary-contrast: #ffffff;

    --primary-1: #709aa0;
    --primary-2: #899390;
    --primary-3: #9abbc0;
    --primary-4: #81b8bb;

    --secondary-1: #9a363f;
    --secondary-2: #e85049;
    --secondary-3: #a8423b;
    --secondary-4: #712619;

    --secondary-a1: rgba(154, 54, 63, .75);
    --secondary-a2: rgba(232, 80, 73, .75);
    --secondary-a3: rgba(168, 66, 59, .75);
    --secondary-a4: rgba(113, 38, 25, .75);

    --input-bg: #151310;
    --input-color: #ffffff;
    --input-border: rgba(0, 0, 0, 0.15);
}

html[data-theme='light'] {
    --body-bg: linear-gradient(45deg, #b5dde5, #8ed0cd, #d7f6fa, #80b4b4);
    --body-color: black;

    --input-bg: #ffffff;
    --input-color: #151310;
    --input-border: rgba(255, 255, 255, 0.15);

    --header-bg: rgba(255, 255, 255, .5);
    --transparent-bg: rgba(239, 232, 232, 0.5);
}

@media (max-width: 450px) {
    :root {
        --icon-button-width: 32px;
    }
}

